@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,500&family=Playfair+Display:wght@500&family=Roboto:wght@300&display=swap');


:root{
    --sm-font: 'Mulish', sans-serif;
    --lg-font: 'Playfair Display', serif;
    --lg-font: 'Roboto', sans-serif;
    --pink: #e5345b;
    --red: #FF0303;
}


body{
    font-family: var(--sm-font);
}
    

/* button */
.bg-primary{
    background-color: var(--red)!important;
}
.btn:not(.nav-btns button){
    background-color: #8D7B68;
    color:#ffffff;
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid #4D4D4D;
}
.btn:not(.nav-btns button):hover{
    background-color: #ECF2FF;
    color: #A4907C;
    border-color: #4D4D4D;
}


/* text color */
.text-primary{
    color: var(--red)!important;
}


/* navbar */
.navbar{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img{
    width: 80px;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.nav-link:hover{
    color: var(--red)!important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}


/* Header */
#header{
    background: url(../images/banner\ 2.jpg) top/cover no-repeat;
}
.carousel-inner h1{
    font-size: 60px;
    font-family: var(--sm-font);
}
.carousel-item .btn{
    border-color: #fff!important;
}
.carousel-item .btn:hover{
    border-color: #4D4D4D;
}

/* title */
.title h2:before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: #8D7B68;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

/* collection */
.active-filter-btn{
    background-color: #8D7B68;
    color: #fff;
    border-color: #4D4D4D;
}
.filter-button-group .btn:hover{
    color: #4D4D4D!important;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;

}

/* Offers */
#offers{
    background: url(../images/ads9.jpg) center/cover no-repeat;
}
#offers .row{
    min-height: 60vh;
}
.offers-content span{
    font-size: 28px;
}
.offers-content h2{
    font-size: 60px;
    font-family: var(--sm-font);
}
.offers-content .btn{
    border-color: transparent!important;
}


/* about */
#about{
    background-color: #F7F1E5;
}


/* Footer */
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}
footer a{
    transition: color 0.3s ease;
}
footer a:hover{
    color: var(--red)!important;
}


/* media queries */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}